---

---

<section id="about" class="bg-neutral-900 py-16">
  <div class="max-w-5xl mx-auto px-4 xl:px-0">
    <h2 class="text-3xl font-bold text-white mb-4">About Me</h2>

    <!-- Experiences -->
    <h3 class="text-2xl font-semibold text-white mt-8 mb-2">Experience</h3>
    <ul class="list-disc list-inside text-neutral-300 space-y-2">
      <li>
        <strong>Software Engineer</strong> at Carvintech
        <span class="text-sm text-neutral-400">| March 2025 to present</span>
      </li>
      <li>
        <strong>Software Engineer Intern</strong> at SuperINTRO
        <span class="text-sm text-neutral-400"
          >| December 2024 to March 2025</span
        >
      </li>
      <li>
        <strong>Frontend Engineer</strong> at Carvintech
        <span class="text-sm text-neutral-400"
          >| January 2024 to December 2024</span
        >
      </li>
      <li>
        <strong>Full Stack Developer</strong> at Tata Consultancy Services
        <span class="text-sm text-neutral-400"
          >| August 2021 to November 2022</span
        >
      </li>
    </ul>

    <!-- Education -->
    <h3 class="text-2xl font-semibold text-white mt-8 mb-2">Education</h3>
    <ul class="list-disc list-inside text-neutral-300 space-y-1">
      <li>
        <strong>Master’s in Computer Technology</strong>, Eastern Illinois
        University (4.0 GPA)
      </li>
      <li>
        <strong>Bachelor’s in Electronics and Communication Engineering</strong
        >, JNTUK University College of Engineering Vizianagaram (7.93 CGPA)
      </li>
    </ul>
  </div>
</section>
