---
const currentYear = new Date().getFullYear();
---

<footer class="relative overflow-hidden bg-neutral-900">
  <svg
    class="absolute -bottom-20 start-1/2 w-[1900px] transform -translate-x-1/2"
    width="2745"
    height="488"
    viewBox="0 0 2745 488"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.5 330.864C232.505 403.801 853.749 527.683 1482.69 439.719C2111.63 351.756 2585.54 434.588 2743.87 487"
      class="stroke-neutral-700/50"
      stroke="currentColor"></path>
    <path
      d="M0.5 308.873C232.505 381.81 853.749 505.692 1482.69 417.728C2111.63 329.765 2585.54 412.597 2743.87 465.009"
      class="stroke-neutral-700/50"
      stroke="currentColor"></path>
    <path
      d="M0.5 286.882C232.505 359.819 853.749 483.701 1482.69 395.738C2111.63 307.774 2585.54 390.606 2743.87 443.018"
      class="stroke-neutral-700/50"
      stroke="currentColor"></path>
    <path
      d="M0.5 1C232.505 73.9367 853.749 197.819 1482.69 109.855C2111.63 21.8914 2585.54 104.724 2743.87 157.136"
      class="stroke-neutral-700/50"
      stroke="currentColor"></path>
  </svg>

  <div class="relative z-10">
    <div class="w-full max-w-5xl px-4 xl:px-0 py-10 lg:pt-16 mx-auto">
      <div class="inline-flex items-center">
        <div class="border-s border-neutral-700 ps-5 ms-5">
          <p class="text-sm text-neutral-400">© {currentYear} Sai Sriram.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
