---
// Props could be added for name, description if needed
---

<div class="bg-neutral-900" id="home">
  {/* Added ID for nav */}
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-12">
    <h1 class="font-semibold text-white text-5xl md:text-6xl">
      <span class="text-[#ff0]">Hi there, I'm Sriram,</span>
    </h1>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">
        A passionate software engineer who loves bringing ideas to life on the
        web. Whether it's crafting smooth user experiences or solving tricky
        backend puzzles, I'm all about building things that are as fun to use as
        they are to create.
      </p>
    </div>
  </div>
</div>
